/*
	New portfolio page
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(61, 59, 59);
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header {
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(20, 63, 20);
}

nav a {
    color: whitesmoke;
    padding: 14px 20px;
    justify-content: flex-end;
}

nav ul, li{
    display: inline-flex;
}

/*header and nav is good, double check links before submit*/

main {
    display: flex;
    flex-direction: column;
    columns: 2;
    justify-content: space-evenly;
}

/*line in center of contents figure out*/

/*position things inside article and aside(s)*/
article.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    justify-content: right;
}



aside .about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    justify-content: left;
}

aside .about-me header {
    justify-content: flex-start;
}

aside .about-me p{
    justify-content: right;
}

/*space between looks good for row contents*/

aside .contact-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    justify-content: right;
}

.mypics {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/tree.jpg);
    background-size: cover;
    background-position: center;
}


/*footer done to liking, double check links*/

footer {
    display: flex;
    padding: 10px;
    margin: -10px;
    text-align: center;
    justify-content: center;
    background-color: rgb(20, 63, 20);
}

footer h4 {
    font-size: 20px;
}















/* style for half section, maybe not use?
.titles {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
*/